.bodyhtmlStart {
    background-image: url('rep.jpg'); /* Ruta de tu imagen de fondo */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Arial', sans-serif;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    background-color: #007bff; /* Primary color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    width: 100%;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
}

.nav-link {
    color: #ffffff !important;
    margin-right: 15px;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #0056b3 !important; /* Light grey on hover */
}

